.primary-font { color: #FF0180; }
.primary-bg { color: #FF0180; }

.accent-font { color: #FF0180; }
.accent-bg { color: #FF0180; }

.weiss-font { color: #FFFFFF !important; }
.weiss-bg { color: #FFFFFF !important; }

.black-font { color: #232323 !important; }
.black-bg { color: #232323 !important; }

.pink-font { color: #FF0180 !important; }
.pink-bg { color: #FF0180 !important; }

.gelb-font { color: #FFEA00 !important; }
.gelb-bg { color: #FFEA00 !important; }

.rot-font { color: #fc0303 !important; }
.rot-bg { color: #fc0303 !important; }
 
.orange-font { color: #fc8403 !important; }
.orange-bg { color: #fc8403 !important; }

.gruen-font { color: #39fc03 !important; }
.gruen-bg { color: #39fc03 !important; }

.mint-font { color: #03fca5 !important; }
.mint-bg { color: #03fca5 !important; }

.blau-font { color: #03b6fc !important; }
.blau-bg { color: #03b6fc !important; }

.lila-font { color: #5a03fc !important; }
.lila-bg { color: #5a03fc !important; }

.magenta-font { color: #fc03ba !important; }
.magenta-bg { color: #fc03ba !important; }

.grau-font { color: #b0b0b0 !important; }
.grau-bg { color: #b0b0b0 !important; }








#a { background: #57d9f9 !important; }
#ab { background: #fccb4d !important; }
#am { background: #f4b4e8 !important; }
#abm { background: #6df4df !important; }
#b { background: #0aedca !important; }
#bm { background: #c5d3ff !important; }
#bbm { background: #b8f794 !important; }
#cm { background: #fec6af !important; }
#c { background: #ee83da !important; }
#d { background: #9fb7ff !important; }
#db { background: #8cef5a !important; }
#dm { background: #ffb3d2 !important; }
#dbm { background: #6af3f2 !important; }
#e { background: #0bebeb !important; }
#eb { background: #ffa07c !important; }
#em { background: #e1baff !important; }
#ebm { background: #8bf4b2 !important; }
#f { background: #ff80b4 !important; }
#fm { background: #ffdf90 !important; }
#g { background: #cc8fff !important; }
#gb { background: #42ec82 !important; }
#gm { background: #feb7be !important; }
#gbm { background: #9ae8fb !important; }