body {
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}

#pushobj {
  position: absolute;
  top: 0px;
  left: 300px;
  color: #232323;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
}