
html, body {
  width: 100%;
  height: 100%;
}

body { background: #232323; }

#pp-load-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#pp-load-logo img {
  width: 65px;
  height: 65px;	
}

#circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;	
}

.loader {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  border: 8px solid #232323;
  border-top: 8px solid #ff0180;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  100% { transform: rotate(360deg); }
} 